<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css">

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <script>

      /*  angular.module('todoApp', [])
                .controller('TodoListController', function() {
                    var todoList = this;
                    todoList.todos = [
                        {text:'learn angular', done:true},
                        {text:'build an angular app', done:false}];

                    todoList.addTodo = function() {
                        todoList.todos.push({text:todoList.todoText, done:false});
                        todoList.todoText = '';
                    };

                    todoList.remaining = function() {
                        var count = 0;
                        angular.forEach(todoList.todos, function(todo) {
                            count += todo.done ? 0 : 1;
                        });
                        return count;
                    };

                    todoList.archive = function() {
                        var oldTodos = todoList.todos;
                        todoList.todos = [];
                        angular.forEach(oldTodos, function(todo) {
                            if (!todo.done) todoList.todos.push(todo);
                        });
                    };
                });*/
         /*  var app = angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
            $scope.arra = [] ;
            $scope.myStr = "";
            $scope.add= function () {
                $scope.arra.push($scope.myStr);
            }
        });*/
      /*var app = angular.module('myApp',[]);
      app.controller('myCtrl',function($scope){
          $scope.arra = [];
          $scope.myValue="";
          $scope.add= function () {
              $scope.arra.push($scope.myValue)
          }
      });*/

      angular.module('myApp', [])
              .run(function($rootScope, $timeout, $interval) {
                  $rootScope.isDisabled = true;
                  $timeout(function() {
                      $rootScope.isDisabled = false;
                  }, 5000);
                  $rootScope.val = 5;

             var Interval = $interval(function(){
                  $rootScope.val--;
                 $rootScope.ind = 'Please wait ' + $rootScope.val + ' sec';
                 if($rootScope.val == 0){
                     $rootScope.ind = "";

                     $interval.cancel(Interval);
                 }

              },1000);
              });

    </script>

</head>
<body>
<div ng-app="myApp">
<textarea ng-disabled="isDisabled">{{ind}}</textarea>
</div>



<!--<div ng-app="todoApp">
    <h2>Todo</h2>
    <div ng-controller="TodoListController as todoList">
        <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
        [ <a href="" ng-click="todoList.archive()">archive</a> ]
        <ul class="unstyled">
            <li ng-repeat="todo in todoList.todos">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
            </li>
        </ul>
        <form ng-submit="todoList.addTodo()">
            <input type="text" ng-model="todoList.todoText"  size="30"
                   placeholder="add new todo here">
            <input class="btn-primary" type="submit" value="add">
        </form>
    </div>
    </div>-->


</body>
</html>